<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Guest entries</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />

    </head>
<body class="container">
    <h1>
        Express guest book
        <a href="/new-entry" class="btn btn-primary pull-right">
            Write in a guest book
        </a> 
    </h1>
